# Firebase Configuration

# Firebase API Key
apiKey=YOUR_API_KEY_HERE

# Firebase Auth Domain
authDomain=YOUR_AUTH_DOMAIN_HERE

# Firebase Project ID
projectId=YOUR_PROJECT_ID_HERE

# Firebase Storage Bucket
storageBucket=YOUR_STORAGE_BUCKET_HERE

# Firebase Messaging Sender ID
messagingSenderId=YOUR_MESSAGING_SENDER_ID_HERE

# Firebase App ID
appId=YOUR_APP_ID_HERE